border-1px($color)
 position:relative
 &:after
     content: ' '
     position: absolute
     display: block
     left: 0
     bottom: 0
     width: 100%
     border-top: 1px solid $color
border-none()
  &:after
     content:none
bg-image($url)
    background-image: url($url + '@2x.png')
    @media (-webkit-min-device-pixel-radio:3) and (min-device-pixel-radio:3)
        background-image: url($url + '@3x.png')